$corTexto: #010101;
$corBranca: #fff;
$corFundoHero: #EAE0C7;
$corFundoHeader: #ECE6D6;
$corFundoFAQ: #ecdcb4;
$corBotaoRoxo: #7C4FFF;
$corBotaoSecundario: #42b0ff;
$corBotaoPreto: #000;

//Fundo - Planos
$corFundoAzul: #66C5E3 ;
$corFundoAzulEscuro: #2B8EAE;
$corFundoVerde: #10de88 ;
$corFundoVerdeEscuro: #0DBC73 ;
$corFundoVermelho: #f44538;
$corFundoVermelhoEscuro: #DD362C ;
$corFundoLaranja: #FAAF52 ;
$corFundoLaranjaEscuro: #EF972B;
$corFundoAmarelo: #f9e064;
$corFundoAmareloEscuro: #EDD34A; 
$corFundoRosa: #ff4fad;
$corFundoRosaEscuro: #F42394 ;
